.header-container {
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

.menu-header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-header li {
  list-style: none;
  padding: 10px 15px;
  background: white;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: 2px solid transparent;
}

.menu-header li:hover {
  border: 2px solid #ee2211;
}

.main-container {
  max-width: 1000px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteudo-descricao {
  margin: 40px;
  display: grid;
  align-content: center;
  gap: 20px;
}

.conteudo-descricao h1, p {
  text-align: end;
}

.conteudo-descricao a {
  background: #ee2211;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  justify-self: end;
}

.conteudo h2 {
  margin: 40px;
  display: grid;
  place-items: center;
  font-size: 4rem;
  text-align: end;
  text-transform: uppercase;
  color:#c6c6c6;
}

.conteudo-info ul{
  display: grid;
  margin: 40px;
  gap: 20px;
  list-style: none;
}

.info-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px 10px;
}

.info-item h3,
.info-item p {
  grid-column: 2;
  text-align: start;
}

/*estilos iniciais*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  gap: 60px;
  justify-content: center;
  font-family: Arial;
  background: #f7f7f7;
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  display: block;
}